<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laziton.mlalphathree"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo"
        android:name="com.laziton.movielocker.MovieLockerApp" >
        <activity
            android:name="com.laziton.movielocker.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.laziton.movielocker.SingleFragmentHost">
        </activity>
        <activity android:name="com.laziton.movielocker.GenreListActivity"
            		android:label="@string/genre_list_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.laziton.movielocker.MainActivity" />
        </activity>
        <activity android:name="com.laziton.movielocker.GenreActivity"
            		android:label="@string/genre_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.laziton.movielocker.GenreListActivity" />
        </activity>
        <activity android:name="com.laziton.movielocker.MovieListActivity"
            		android:label="@string/movie_list_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.laziton.movielocker.MainActivity" />
        </activity>
        <activity android:name="com.laziton.movielocker.MovieCoverFlowActivity"
            		android:label="@string/movie_list_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.laziton.movielocker.MainActivity" />
        </activity>
        <activity android:name="com.laziton.movielocker.MovieActivity"
            		android:label="@string/movie_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.laziton.movielocker.MovieListActivity" />
        </activity>
        <activity android:name="com.laziton.movielocker.ScannerActivity"
            		android:label="@string/movie_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.laziton.movielocker.MovieActivity" />
        </activity>
    </application>

</manifest>
